<!DOCTYPE html>
<html>
<head>
    <base href="/">
    <link rel="stylesheet" href="/scripts/angular-material/angular-material.min.css">
    <link rel="stylesheet" href="bs/dist/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
    <script src="/scripts/jquery/dist/jquery.min.js"></script>
    <script src="/bs/dist/js/bootstrap.min.js"></script>
    <script src="/scripts/angular/angular.js"></script>
    <script src="/scripts/angular-animate/angular-animate.min.js"></script>
    <script src="/scripts/angular-aria/angular-aria.min.js"></script>
    <script src="/scripts/angular-material/angular-material.min.js"></script>
    <script src="/scripts/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="/js/myapp.js"></script>

    <title>TwitFriends</title>
</head>
<body ng-app="myApp">

<nav class="navbar navbar-inverse navbar-static-top" ng-controller="navCtrl">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#myNavbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/" target="_self">TwitFriends</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li ng-class="{ active: isActive('/')}"><a href="/" target="_self">Home</a></li>
                <li ng-class="{ active: isActive('/quiz')}"><a href="/quiz" target="_self">Quiz</a></li>
                <li ng-class="{ active: isActive('/about')}"><a href="/about" target="_self">About</a></li>
                <li ng-class="{ active: isActive('/contact')}"><a href="/contact" target="_self">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>