<% include partials/header %>
<div class=wrapper>
    <div class="container bg-content" ng-app="myApp" ng-controller="myCtrl">
        <div class="bg-title">
            <h2 class="responsive-medium-header"><a href="/" target="_self"><img src="images/TwitFriends80px.png"></img></a> Contact</h2>
        </div>
        <div class="container-padded">

        </div>
    </div>
</div>
<% include partials/footer %>