<% include partials/header %>
<div ng-app="myApp" ng-controller="myCtrl">
    <h1>TwitFriends</h1>
    <h3>How well do you really know your twitter friends?</h3>
    <form action="/quiz" method="get">
        <input type="text" placeholder="Enter your twitter handle" name="playerHandle" >
        <button type=submit>Start quiz</button>
    </form>
    <br><br>
</div>

<% include partials/footer %>