<% include partials/header %>
<div class=wrapper>
    <div class="container bg-content" ng-app="myApp" ng-controller="myCtrl">
        <div class="bg-title">
            <h2 class="responsive-medium-header"><a href="/" target="_self"><img src="images/TwitFriends80px.png"></img></a> Quiz</h2>
        </div>
        <div class="container-padded" id="game">
            <div ng-hide="gameLive">
                <div loading></div>
            </div>
            <div ng-show="errors" ng-cloak>
                <p>{{ error }}</p>
                <form class="form-inline" action="/quiz" method="get">
                    <input type="search" class="form-control input-lg" placeholder="Enter your Twitter handle" name="playerHandle" >
                    <button type=submit class="btn btn-customised btn-lg">Start quiz</button>
                </form>
            </div>
            <div ng-show="showWelcome()" ng-cloak>
                <% if(player_handle){ %>
                    <h1>Welcome, {{ playerHandle }} %></h1>
                <% } %>
                <p>We managed to find profiles for {{ friend_names.length }} people you follow on twitter who also follow you.
                    Congrats! Now let's find out how well you know them.</p>
                <button type="submit" class="btn btn-customised btn-lg" ng-click="getTweet()">Start Game</button>
            </div>
            <div ng-show="gameLive" ng-cloak>
                <p>Question {{ question }} of {{ answers_length }}</p>
                <p>Tweet:</p>
                <hr>
                <div loading>
                    <h4 class="tweet-text" ng-bind-html="tweet.full_text"></h4>
                </div>
                <hr>
                <p>Who tweeted it?</p>
                <md-radio-group ng-model="selected" ng-cloak>
                    <md-radio-button ng-repeat="friend in answerList" ng-value="friend" aria-label="{{ friend }}">
                        {{ friend }}
                    </md-radio-button>
                </md-radio-group>
                <select class="select-lg" ng-model="selectedLifeline" ng-options="option for option in lifelines" ng-show="lifelines.length > 0">
                </select>
                <button type="submit" class="btn btn-customised btn-xs" ng-model="selectedLifeline" ng-click="getLifeline()" ng-disabled="lifelines.length == 0">Use lifeline</button>
                <br>
                <div>
                    <div ng-show="activeLifeline">
                        <br>
                        <p ng-hide="lifeline ==''">Here is the user's {{ activeLifeline.toLowerCase() }}:</p>
                        <p ng-hide="activeLifeline == 'Avatar'">{{ lifeline }}</p>
                        <img ng-show="activeLifeline == 'Avatar'" ng-src="{{ lifeline }}" class="img-thumbnail"/>
                        <p ng-show="lifeline ==''">This user's profile does not include a {{ activeLifeline.toLowerCase() }}.</p>
                    </div>
                </div>
                <br>
                <!-- when button is clicked getTweet is called from controller -->
                <button type=submit class="btn btn-customised btn-lg" ng-click="getTweet()">Answer</button>
                <br><br>
                <p>Your score: {{ score }}</p>
            </div>
            <div ng-show="quizFinished" ng-cloak>
                <h1>Results</h1>
                <p>The results are in! Here's how you did:</p>
                <h2>{{ scorePercentage }}%</h2>
                <h3>{{ score }} out of {{ answers_length }}</h3>
                <p>How do you feel about your results? Why not tell your friends on Twitter about how well you know them!</p>
                <a id="shareBtn" class="btn tweet-btn"
                   href=""
                   target="_blank"
                   data-size="large"><img src="images/Twitter_Logo_WhiteOnBlue_small.png"></img>Tweet</a>
            </div>
        </div>
    </div>
</div>

<script>
    app.controller("myCtrl", function($scope, $http) {
        $scope.playerHandle = <%-JSON.stringify(player_handle)%>
        $scope.question = 0

        if($scope.playerHandle == ""){
            $scope.errors = true;
        } else {
            // fetch player's friends
            $http.get("/friends", {params: {playerHandle: $scope.playerHandle}})
                    .then(function(response){
                        if(response.data[0].code){
                            $scope.errors = true
                            $scope.error = response.data[0].message
                        } else {
                            $scope.friend_names = response.data;
                            $scope.answers = generateAnswers($scope.friend_names)
                            $scope.answers_length = Object.keys($scope.answers).length
                        }
                    })
        }

        $scope.score = 0
        $scope.gameLive = false
        $scope.quizFinished = false
        $scope.lifelines = ['Description', 'Location', 'Avatar']

        $scope.getTweet = function(){
            if($scope.selected || $scope.gameLive == false){
                //scroll back to game div using jquery
                $('html, body').animate({
                    scrollTop: $("#game").offset().top
                }, 500);
                $scope.gameLive = true;
                $scope.activeLifeline = false;
                // check if answer to prev question is correct
                if($scope.selected == $scope.answers[$scope.question] && $scope.question > 0){
                    $scope.score++;
                }
                // deselect the previous answer
                $scope.selected = null;
                // check to see if all question answered
                if($scope.question == $scope.answers_length){
                    $scope.gameLive = false;
                    $scope.quizFinished = true;
                    $scope.scorePercentage = Math.round($scope.score / $scope.answers_length * 100)
                    elem = document.getElementById("shareBtn")
                    elem.setAttribute("href", "https://twitter.com/intent/tweet?text=" +
                    "I took the TwitFriends quiz and scored " + $scope.scorePercentage + "%25!")
                } else {
                    // ajax request to make twit api call for friend
                    $http.get("/question", {params: {id: $scope.answers[$scope.question+1]}})
                            .then(function(response) {
                                $scope.tweet = response.data;
                                // get multiple choice list
                                $scope.answerList = getAnswerList()
                                // increment the question number
                                $scope.question++
                            });
                }
            }

        }

        $scope.getLifeline = function(){
            $scope.activeLifeline = $scope.selectedLifeline
            // return the appropriate lifeline and remove it from the array
            if($scope.selectedLifeline == "Description"){
                $scope.lifeline = $scope.tweet.user['description']
                $scope.lifelines.splice($scope.lifelines.indexOf('Description'), 1)
            } else if ($scope.selectedLifeline == 'Location'){
                $scope.lifeline = $scope.tweet.user['location']
                $scope.lifelines.splice($scope.lifelines.indexOf('Location'), 1)
            } else if ($scope.selectedLifeline == 'Avatar'){
                // strip "_normal" from the avatar link to get full-size version
                $scope.lifeline = $scope.tweet.user['profile_image_url'].replace('_normal', '')
                $scope.lifelines.splice($scope.lifelines.indexOf('Avatar'), 1)
            }
        }

        $scope.showWelcome = function(){
            if($scope.success == true && $scope.gameLive == false && $scope.quizFinished == false){
                return true
            }
            return false
        }

        function generateAnswers(friend_names){
            var possible_answers = friend_names.slice();  // make a copy the friendNames array
            var answers = {};
            var questionNum = 1;

            if(friend_names.length < 10){
                friend_names.forEach(function(){
                    answer()
                });
            } else {
                for(var i = 0; i < 10; i++){
                    answer()
                }
            }

            function answer(){
                var randomNum = Math.floor((Math.random() * possible_answers.length));
                answers[questionNum] = possible_answers[randomNum];  // add random friend to answers object with question num
                possible_answers.splice(randomNum, 1);  // remove 1 item at the index of randomNum
                questionNum++;
            }

            console.log(answers)
            $scope.success = true
            return answers
        }

        function getAnswerList(){
            // create array of answer ids with correct answer
            var answerScreenNames = [$scope.answers[$scope.question+1]]

            var possibleWrongAnswers = $scope.friend_names.slice()
            // remove the correct answer from list of possible wrong answers
            possibleWrongAnswers.splice(possibleWrongAnswers.indexOf($scope.answers[$scope.question+1]), 1)
            // add 3 random wrong answers to answerScreenNames
            for(var i = 0; i < 3; i++){
                var randomWrongAns = Math.floor(Math.random() * possibleWrongAnswers.length)
                answerScreenNames.push(possibleWrongAnswers[randomWrongAns])
                // remove the used wrong answer from list of possible wrong answers
                possibleWrongAnswers.splice(possibleWrongAnswers.indexOf(possibleWrongAnswers[randomWrongAns]), 1)
                if(i == 2){
                    answerScreenNames.sort()
                    return answerScreenNames
                }
            }
        }
    })

    // loading directive to be shown while ajax requests are pending
    app.directive("loading", ['$http', function ($http) {
        return {
            restrict: 'A',
            link: function (scope, element, attrs) {
                scope.isLoading = function () {
                    return $http.pendingRequests.length > 0;
                };
                scope.$watch(scope.isLoading, function (value) {
                    if (value) {
                        element.addClass('loader');
                    } else {
                        element.removeClass('loader');
                    }
                });
            }
        };
    }]);

</script>
<% include partials/footer %>