<% include partials/header %>
<div ng-app="myApp" ng-controller="myCtrl">
    <h1>TwitFriends</h1>
    <h3>Quiz</h3>
    <button type="submit" ng-click="getWords()" ng-hide="gameLive">Start Game</button>
    <div ng-show="gameLive">
        <p>Question {{ question }}</p>
        {{ tweet }}
        <br>
        <select ng-model="selectedFriend" ng-options="x for x in friend_names">
        </select>
        <!-- when button is clicked getWords is called from controller -->
        <button type=submit ng-click="getWords()">Answer</button>
        <br><br>
        <p>Your score: {{ score }}</p>
    </div>
</div>

<script>
    var app = angular.module("myApp", []);

    app.controller("myCtrl", function($scope, $http) {
        $scope.friend_names = <%-JSON.stringify(friend_names)%>
        $scope.question = 0
        $scope.answers = <%-JSON.stringify(answers)%>
        $scope.score = 0
        $scope.gameLive = false

        console.log(Object.keys($scope.answers).length);

        $scope.getWords = function() {

            // check to see if all question answered
            if($scope.question == Object.keys($scope.answers).length){
                //$scope.gameLive = false;
                console.log("quiz finished");
            } else {
                $scope.gameLive = true;
                if($scope.selectedFriend == $scope.answers[$scope.question] && $scope.question > 0){
                    $scope.score++;
                }
                // ajax request to make twit api call for friend
                $http.get("/question?id=" + $scope.answers[$scope.question+1])
                        .then(function(response) {
                            $scope.tweet = response.data;
                            console.log($scope.tweet)
                            // increment the question number
                            $scope.question++
                        });
            }
        }
    });
</script>
<% include partials/footer %>