.container{
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 2rem;
  margin-right: 2rem;
  max-width: 970px;

  @mixin atMedium {
      margin-left: auto;
      margin-right: auto;
  }
}

.container-padded {
  padding: 3rem;
}