input[type=text] {
  font-size: 16px;
  max-width:500px;
  margin: auto;
  padding: 10px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 6px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  background: $mainPurple;
  color: #FFF;
}

input[type=text]:focus {
  border: 1px solid #FF58F2;
}